* {
    padding: 0px; 
    margin: 0px auto; 
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
body {
    width: 900px; 
    background-color: rgb(210, 235, 243);
}

h1 {
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px; 
    color: darkred; 
    text-decoration: underline;
    margin: 60px auto;
}

ul {
    list-style: square;
}
.home-list {
    border: 2px solid black; 
    padding: 32px 44px;
    background-color: beige;
}

.home-list ul {
    line-height: 1.75; 
    font-size: 24px; 
}

.recipe-container {
    background: #fffff2;
    border: 2px solid black; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .8);  
    border-radius: 4px;
}

.recipe-container h2 {
    margin: 10px;
    text-decoration: underline dotted;
}

p,
.ingredient-list,
.step-list {
    margin: 14px;
}

.recipe-container img {
    display: block;
    margin: 30px auto 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .8);  
}

.recipe-content {
    padding: 0px 26px 14px;
}

.ingredient-list,
.step-list {
    line-height: 1.5;
}

.return-button {
    width: fit-content;
    margin: 32px auto;
}

.return-button a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 16px 32px;
    font-size: 24px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
    border-radius: 4px;
}








